body {
    background:
        url('../img/background-top.png') 0px 0px repeat-x,
        url('../img/background-bottom.png') 0px 1024px repeat;
}

.row {
    height: 100px;
    background-color: #f5f5f5;
    border-radius: 15px;
}
.container {
    margin-top: 50px;
    box-shadow: 0 0 15px black;
    background-color: #f5f5f5;
    padding:0 15px 0 15px;
    border-radius: 15px;
    height: 1520px;
}

.clear {
    clear: both;
}
